Build
Pods
Index
HowMuch.xcworkspace
HowMuch.xcodeproj/xcuserdata
HowMuch.xcodeproj/project.xcworkspace/xcuserdata
HowMuch/tessdata
Podfile.lock
report.xml
HowMuch.app.dSYM.zip
HowMuch.ipa
LQ873B39VQ.cer
AppStore_com.maxkazakov.Howmuch.mobileprovision
Appfile
README.md
